<div class="contents">
  <% if user_signed_in? %>
  <div class="post">
    <%= form_tag('/tweets',method: :post) do %>
      <div class="inputarea">
        <input type="text" name="text" placeholder="つぶやきを入力しよう">
      </div>
      <div class="btn">
        <input class="btn1" type="submit" value="投稿を送信★〃">
      </div>
    <% end %>
  </div>
  <% else %>
    <p>新規登録／ログインするとツイートできるようになるよ！</p>
  <% end %>
  <% @tweets.each do|tweet| %>
  <div class="tweetcontents">
    <div class="userimage">
      <%= image_tag 'psyduck.jpeg', :size =>'80x80' %>
    </div>
    <div class="tweet_text">
      <div class="tweet_header">
        <div class="username">
          <%= tweet.user.nickname %>
        </div>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <div class="arrow">
          <label for="label1"><%= image_tag 'arrow.png' %></label>
          <input type="checkbox" id="label1" class="check">
          <div class="more">
          <!--ここから隠す-->
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          <!--ここまで隠す-->
          </div>
        </div>
        <% end %>
      </div>
      <p class="text">
        <%= tweet.text %>
      </p>
    </div>
  </div>
  <% end %>
</div>