<div class="contents">
  <% if user_signed_in? %>
  <div class="post">
    <%= form_tag('/tweets',method: :post) do %>
      <div class="inputarea">
        <input type="text" name="text" placeholder="つぶやきを入力しよう">
      </div>
      <div class="btn">
        <input class="btn1" type="submit" value="投稿を送信★〃">
      </div>
    <% end %>
  </div>
  <% else %>
    <p>新規登録／ログインするとツイートできるようになるよ！</p>
  <% end %>
  <% @tweets.each do|tweet| %>
  <div class="tweetcontents">
    <div class="userimage">
      <img src=<%= tweet.user.image %> width="80" height="80" alt = "ユーザー写真" %>
    </div>
    <div class="tweet_text">
      <div class="tweet_header">
        <div class="username">
          <%= tweet.user.nickname %>
        </div>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <div class="delete">
          <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
        <!--  <%= image_tag 'arrow.png' %>
          <ul class="morelist">
            <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
            </li>
          </ul> -->
        </div>
        <% end %>
      </div>
      <p class="text">
        <%= tweet.text %>
      </p>
    </div>
  </div>
  <% end %>
</div>