<div class="contents">
<!--
  <%= form_for(@user) do |f| %>
  #<%= f.text_field :nickname, placeholder: "ニックネーム", class: "form-control" %>
  <%= f.text_field :email, placeholder: "メールアドレス", class: "form-control" %>
  <%= f.text_field :image, placeholder: "画像", class: "form-control" %>
  <%= f.submit "送信", class: "btn" %>
  <% end %>
-->
</div>