<!DOCTYPE html>
<html>
  <head>
    <title>ついったー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/notifications' %>
    <header>
      <h1><a href="/">ついったー</a></h1>
      <div class="user-info">
        <% if user_signed_in? %>
          <div class="user-name"><p>ユーザー名：<%= current_user.nickname %></p></div>
          <div class="btn">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="btn">
            <%= link_to '新規登録', new_user_registration_path, class: 'post' %>
          </div>
          <div class="btn">
            <%= link_to 'ログイン', new_user_session_path, class: 'post' %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
